.sidebar {
    width: 25%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    right: 0;
    background-color: #fff;
    top: 0;
    border-left: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 2px 6px rgb(206, 206, 206);
}

.close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #fff;
}

.close:hover {
    opacity: 0.7;
}   

.sidebar_top{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.sidebar_top p{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin:20px auto;
}

.sidebar_top .close{
    fill: #fff;
}

.sidebar_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


  