.sidebar {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    border-left: 1px solid #eee;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);

  }
  .sidebar_bottom::-webkit-scrollbar {
    width: 8px; 
  }
  
 
  .sidebar_bottom {
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
  }

.close {
    cursor: pointer;
    fill: #aaa;
    width: 20px;
    height: 20px;
  }

.close:hover {
    opacity: 0.7;
}   

.sidebar_top{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.sidebar_top p{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin:20px auto;
}

.sidebar_top .close{
    fill: #fff;
}



  