.main{
    margin-top: 80px;
    /* border: 1px solid; */
    max-width: 400px;
    box-shadow: 2px 7px 10px rgb(206, 206, 206);

    /* margin-left: 50px; */
}

.card-img-wrap{
    
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* z-index: 9999; */
    /* background-color: aquamarine; */
    /* position: relative; */
    /* Adjust to your desired height */
    /* width: 100%;  */
    border-bottom: 1px solid rgb(206, 206, 206);
    overflow: hidden;
}

.card-img{
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    transition: 0.35s;
    /* position: absolute; */
    overflow: hidden;
    
}

.card-img:hover{
    transform: scale(1.05);
}

.card-content{
    text-align: center;
}

.card-content div{
    padding: 5px;
    text-align: center;
}

.card-content a{
    text-decoration: none;
    color: black;
    transition: 0.35s;
}

.card-content .card-button{
    margin: 15px;
    border: 1px solid;
    font-size: 18px;
    cursor: pointer;
    transition: 0.35s;
}

.card-content .card-button:hover{
    color: white;
    background-color: black;
}
.cards-slider{
    display: flex;
  }