.main{
    margin-top: 80px;
    max-width: 400px;
    box-shadow: 2px 7px 10px rgb(206, 206, 206);
}

.card-img-wrap{
    border-bottom: 1px solid rgb(206, 206, 206);
    overflow: hidden;
}

.card-img{
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    transition: 0.35s;
    overflow: hidden;
}

.card-img:hover{
    transform: scale(1.05);
}

.card-content{
    text-align: center;
    /* font-weight: 500; */
}

.card-content div{
    padding: 5px;
    text-align: center;
}

.card-content a{
    text-decoration: none;
    color: black;
    transition: 0.35s;
}

.card-content .card-button{
    border: 1px solid;
    font-size: 18px;
    cursor: pointer;
    transition: 0.35s;
}

.card-content .card-button:hover{
    color: white;
    background-color: black;
}

.card-content .card-price{
    font-style: italic;
}

.cards-slider{
    display: flex;
  }