/* Navbar.css */

body{
    margin: 0;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    border-bottom: 2px solid #fff;
    text-align: none;
  }

footer.footer{
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid black;
}

.logo-footer{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-content{
  display: flex;
  width: 100%;
}

.footer-content div{
  margin: 0 auto;
}

.footer-content div ul li{
  list-style: none;
}

.footer-content div ul li a{
  color: black;
  text-decoration: none;
}

.cart{
  /* background-color: aqua; */
  max-width: 240px;
}

.cart .image{
  width: 100%;
  background-color: aqua;
}