/* Navbar.css */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.container{
  max-width: 90%; 
  margin: 0 auto;   
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
    background-color: #ffffff;
    color: #3f3f3f;
    border-bottom: 1px solid rgb(208, 208, 208);
    z-index: 9999;
    box-shadow: 0px 2px 6px rgb(206, 206, 206);
    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #2e2e2e;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
  }

  
  
  .nav-links li {
    margin: 0px 20px auto;
  }
  
  .nav-links a {
    text-decoration: none;
    color:  #2e2e2e;
    transition: 0.3s;
  }

  .nav-links  .active{
    border-bottom: #8e8e8e solid 1px;
  }
  .nav-links  .active:hover{
    color: #3f3f3f;
    border-bottom: #373737 solid 1px;
  }
  
  .nav-links a:hover {
    color: #3f3f3f;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 .navbar-icon{
  display: flex;
  margin: 0 auto;
}

.shop{
  cursor: pointer;
  margin-right: 5px;
  transition: 0.3s;
}
.shop:hover{
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
}
.account{
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s;
}

.account:hover{
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
}



/* Footer */

.border {
  border-top: solid 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.footer-title{
  color: #282828;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.info{
  max-width: 50%;
  margin: 0 auto;
  display: flex;
}

.info div{
  width: 100%;
  margin-top: 20px;
}

.footer-pages-links{
  list-style: none;
  margin: 0;
  text-align: center;
}

.footer-pages-links li {
  margin: 0px 20px auto;
  padding-bottom:5px;
}

.footer-pages-links a {
  text-decoration: none;
  color:  #2e2e2e;
}

.contact {
  display: flex;
  width: 100%; 
}

.contact span {
  flex: 1; 
  text-align: center;
}

.contact svg {
  cursor: pointer;
}


.footer-form{
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-subtitle{
  color: #282828;
  font-size: 18px;
  text-align: center;
}
.form-inp{
  display: flex;
  justify-content: center;
}

.form-inp input{
  height: 35px;
  width: 310px;
  border: solid #333 1px;
}

.form-inp input:focus {
  outline: none;
  border-color: initial;
}


.button-input button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0px 10px 0px 10px;
  margin-left: 10px;
  transition: 0.5s;
}

.button-input button:hover{
  background-color: #c02904;
  
}

.footer-bottom{
  text-align: center;
}