/* Navbar.css */

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.container{
  max-width: 90%; 
  margin: 0 auto;   
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
    background-color: #ffffff;
    color: #3f3f3f;
    border-bottom: 1px solid rgb(208, 208, 208);
    z-index: 1;
    box-shadow: 0px 2px 6px rgb(206, 206, 206);
    padding: 5px;
    position: fixed;
    width: 100%;
  }
  
  .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #2e2e2e;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0px 20px auto;
  }
  
  .nav-links a {
    text-decoration: none;
    color:  #2e2e2e;
  }

  .nav-links  .active{
    border-bottom: #8e8e8e solid 1px;
  }
  .nav-links  .active:hover{
    color: #3f3f3f;
    transition: 0.3s;
    border-bottom: #373737 solid 2px;
  }
  
  .nav-links a:hover {
    color: #3f3f3f;
    transition: 0.3s;
    border-bottom: #8e8e8e solid 2px;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
  }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 .navbar-icon{
  display: flex;
  margin: 0 auto;
}

.shop{
  cursor: pointer;
  margin-right: 5px;
}
.shop:hover{
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
  transition: 0.5s;
}
.account{
  cursor: pointer;
  margin-left: 5px;
}

.account:hover{
  text-shadow: 1px 0px 1px rgb(0, 0, 0);
  transition: 0.5s;
}



/* Footer */

footer {
  background-color: #333;
  color: #fff;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info-block {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.pages,
.contact,
.more-info {
  flex: 1;
  margin-right: 20px;
}

.pages h3,
.contact h3,
.more-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pages ul {
  list-style: none;
  padding: 0;
}

.pages a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.footer-form-block {
  margin-top: 20px;
  text-align: center;
}

.footer-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inp-label {
  margin-right: 10px;
}

.inp {
  padding: 8px;
  font-size: 14px;
}

.btn-inp {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-inp:hover {
  background-color: #45a049;
}