.shop-title{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}

.main-shop-content{
    max-width: 100%;
    margin: auto;
    display: flex;
}

.main-shop-content .filter,
.main-shop-content .block-cards{
    margin: 0 auto;
}

.filter{
    min-width: 13%;
    border: 1px solid red;
}



.cards{
    display: flex;
}


