.shop-title{
    text-align: center;
    font-size: 28px;
    margin: 20px 0;
}

.main-shop-content{
    max-width: 98%;
    border: 1px solid blue;
    margin: auto;
    display: flex;
}

.main-shop-content .filter,
.main-shop-content .block-cards{
    margin: 10px auto;
}

.filter{
    min-width: 15%;
    border: 1px solid red;
}

.block-cards{
    width: 77%;
}

.cards{
    display: flex;
}

.card{
    margin: 0 auto;
}
